body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #1a1b21;
}

.header-section {
  text-align: center;
  color: #fff;
}

.profile-box {
  width: 100%;
  height: 315px;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 15%;
}

.header-section > h1 {
  margin-bottom: 0;
}

.jobRole {
  color: #f3bf99;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.website {
  font-weight: lighter;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 120px;
  height: 34px;
  border: none;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
}

.linkedin-btn {
  background-color: #5093e2;
  color: #fff;
}

.info-section {
  width: 280px;
  margin: 0 auto;
  color: #fff;
}

.about {
  margin-top: 40px;
  margin-bottom: 0;
}

.interests {
  margin-top: 15px;
  margin-bottom: 0;
}

.info-section > p {
  font-weight: lighter;
  line-height: 1.5;
  margin: 8px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 65px;
  margin-top: 2.5em;
  background-color: #161619;
}

.btn:hover,
.footer > img:hover {
  cursor: pointer;
}
